.content {
    max-width: 800px;
    margin: auto;
    margin-top: 10%;
    background-color: rgb(58, 58, 58);
    box-shadow: 10px 5px 5px black;
    border-radius: 25px;
  }
body {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    animation: rainbow 18s ease infinite;
}

@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
h1{
    padding: 2%;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}
#calcDisplay{
    background-color: aqua;
    min-height: 50px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
}
#resultDisplay{
    background-color: chartreuse;
    min-height: 50px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
}
#numDisplay{
    font-weight: lighter;
}
#calcResultDisplay {
    font-weight: lighter;
    font-size: 50px;
}
#inputField {
    margin: 0 auto;
    display: flex;
    font-size: 50px;
}

button{
    padding: 2%;
    font-size: 100px;
}

#buttonLabel{
    font-size: 16px;
}

#instructions{
    padding: 3%;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}
#buttondiv{
    height: 1%;
    display: flex;
    align-items: center;
    justify-content: center
}