.content {
    max-width: 800px;
    margin: auto;
    margin-top: 10%;
    background-color: orangered;
  }
body {
    background-color: purple;
}
h1{
    text-align: center;
}
#calcDisplay{
    background-color: aqua;
    min-height: 50px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
}
#resultDisplay{
    background-color: chartreuse;
    min-height: 50px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
}
#numDisplay{
    font-weight: lighter;
}
#calcResultDisplay {
    font-weight: lighter;
    font-size: 50px;
}
#inputField {
    margin: 0 auto;
    display: block;
    font-size: 50px;
}

button{
    padding: 5%;
    font-size: 200px;
}